.list{

}
.list-item{
	padding-top: 8px;
	height: 160px;
	border-bottom: 2px #888 solid;
}
.list-image{
	width: 114px;
	height: 157px;
	padding-right: 8px;
	float: left;
}
.list-image img{
	width: 110px;
	height: 151px;
	padding: 2px;
}
.list-item-content {
	width: 650px;
}
.list-title a{
	font-size: 22px;
	font-weight: bolder;
	/*font-variant: small-caps;*/
	text-decoration: none;
}
.list-writer {
	padding-top: 6px;
}
.list-publisher {
	padding-top: 4px;
}
.list-right {
	margin: 15px 15px 0 0;
	float: right;
}
.list-avail{
	text-align: center;
	margin-bottom: 10px;
}
.list-avail-img{
	
	width: 32px;
	height: 32px;
}
.list-description {
	padding-top: 4px;
	width: 560px;
}
.list-colored{
	color: #798800;
}
.list-non-colored{
	color: #000;	
}
.list-button{
	width: 90px;
	height: 30px;
	background-image: url('../images/book-buttons.jpg');
	background-repeat: no-repeat;
	margin-bottom: 8px;
	padding-top: 4px;
	text-align: center;
}
.list-button a, .book-button a {
	text-decoration: none;	
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}
.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; 
}
.list-nav-icons {
	width: 32px;	
}
.list-cur-page{
	line-height: 30px;
}
.list-nav-bar{
	text-align: center;
}
.list-nav-bar div{
	display: inline;
}
.book-prev{
	width: 700px;
	min-height: 350px;
	padding: 10px;
}
.book-title{
	text-align: center;
	font-size: 28px;
	font-weight: bolder;
	text-decoration: none;
	color: #798800;;
	background-color: maroon;
}
.book-info{
	margin-top: 15px;
}
.book-image img{
	border: 1px solid black;
	height: 212px;
	width: 160px;
	box-shadow: 0px 0px 2px black;
	
}
.book-left-info{
	display: inline-block;
	float: left;
	width: 160px;
}
.book-isbn{
	padding-top: 10px;
}
.book-right-info{
	width: 510px;
	float: right;
	padding: 0 10px 10px 10px;
	height: 300px;
}
.book-right-info div{
	padding-top: 10px;
}	
.book-colored{
	color: #798800;
}
.book-button{
}
.book-prop{
	margin-left: 20px;	
}
.book-left-info div{
	padding-top: 6px;
}
.book-button{
	display: inline-block;
	height: 30px;
	width: 90px;
	background-image: url('../images/book-buttons.jpg');
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px 100px 0 0; 	
}
#buttons{
	
}
