.list{
	padding: 0 0 10px 0;
}
.list-item{
	padding-top: 8px;
	height: 170px;
	border-bottom: 2px #888 solid;
}
.list-image{
	width: 114px;
	height: 157px;
	padding-right: 8px;
	float: left;
}
.list-image img{
	width: 110px;
	height: 151px;
	padding: 2px;
}
.list-item-content {
	width: 650px;
}
.list-title a{
	font-size: 22px;
	font-weight: bolder;
	/*font-variant: small-caps;*/
	text-decoration: none;
}
.list-writer {
	padding-top: 6px;
	overflow: hidden; 
	line-height: 16px;
	height: 16px;
}
.list-publisher {
	padding-top: 4px;
	overflow: hidden; 
	line-height: 16px;
	height: 16px;
}
.list-right {
	margin: 15px 15px 0 0;
	float: right;
}
.list-avail{
	text-align: center;
	margin-bottom: 10px;
}
.list-avail-img{
	
	width: 32px;
	height: 32px;
}
.list-description {
	padding-top: 4px;
	width: 450px;
	overflow: hidden; 
	line-height: 16px;
	font-size: 15px;
	height: 65px;
}
.list-colored{
	color: #798800;
}
.list-non-colored{
	color: #000;	
}
.list-button, .book-button, .form-button{
	padding: 5px 5px;
	text-align: center;
}
.book-button{
	display: inline-block;
	margin: 10px 50px 10px 10px;
}
.list-button a, .book-button a {
	text-decoration: none;	
	color: black;
	font-size: 15px;
	font-weight: bold;
}
.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; 
}
.list-nav-icons {
	width: 32px;	
}
.list-cur-page{
	line-height: 30px;
}
.list-nav-bar{
	text-align: center;
}
.list-nav-bar div{
	display: inline;
}
.book-prev{
	width: 700px;
	min-height: 350px;
	padding: 10px;
	position: relative;
}
.book-title, .index-title{
	text-align: center;
	font-size: 28px;
	font-weight: bolder;
	text-decoration: none;
	color: #798800;;
	background-color: maroon;
}
.book-info{
	margin-top: 15px;
}
.book-image img{
	border: 1px solid black;
	height: 212px;
	width: 160px;
	box-shadow: 0px 0px 2px black;
}
.book-left-info{
	display: inline-block;
	width: 170px;
	margin: 0 10px 0 0;
}
.book-isbn{
	padding-top: 10px;
}
.book-right-info{
	display: inline-block;
	float: right;
	width: 500px;
	margin: 0 0 0 10px;
	min-height: 300px;
}
.book-colored{
	color: #798800;
}
.book-button{
}
.book-prop{
	margin-left: 20px;	
}
.book-left-info div{
	padding-top: 6px;
}

.info-accordion .head{	
	cursor: pointer;
	margin: 20px auto 10px auto;
	font-size: 20px;
	line-height: 24px;
	border-radius: 4px;
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
	color: white;
	background-color: maroon;
}
.info-accordion .info{
	padding: 10px;
	margin: 0 0 20px 0;
	border-radius: 4px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.shead{
	width: 300px;
	margin: 0 auto 0 auto;
	font-size: 18px;
}
#aitisi{
	padding: 10px;
	margin-bottom: 20px;
	width: 460px;
	border-radius: 4px;
	background-color: teal;
}
#aitisi .header{
	font-weight: bold;
	font-size: 26px;	
	margin-bottom: 10px;
}
#aitisi label{
	width: 65px;
	display: inline-block;
}
#aitisi .sub{
	margin: 8px 0 0 25px;
}
#index-content{
	margin: 10px 0 0 0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
#index-content ol{
	list-style-type: upper-roman;
}
.info-button{
	border: 1px dashed yellow; 
	border-radius: 4px;
	padding: 5px 2px;
	display: inline-block;
}
.info-button img{
	padding: 0px 6px 0 0 ;
}
.message, .success, .error { 
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(241, 246, 236);
	background-image: url("../images/information.png");
	background-origin: padding-box;
	background-position: 8px 10px;
	background-repeat: no-repeat;
	background-size: auto;
	border: 1px solid rgb(176, 206, 148);
	color: rgb(62, 73, 52);
	line-height: 150%;
	padding: 10px 10px 10px 30px;
}
.message .error, .error { 
	background-color: rgb(243, 221, 221);
	background-image: url("../images/exclamation.png");
	border-bottom-color: rgb(222, 183, 183);
	border-left-color: rgb(222, 183, 183);
	border-right-color: rgb(222, 183, 183);
	border-top-color: rgb(222, 183, 183);
	color: rgb(40, 27, 27);
	font-size: 1.1em;
}
#search_main{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: maroon;
	background-origin: padding-box;
	color: rgb(255, 255, 255);
	margin-bottom: 10px;
	text-align: center;
	padding: 7px;
	line-height: 20px;
}
#search-in{
	margin-left: 20px;
}
.subtitle{
	font-size: 12px;
	font-style: italic;
}