body { 
	background-color: #f4f1ec;
	background-image: url("../images/bg.jpg");
	background-position: 50% 0%;
	background-repeat: repeat-x;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#container { 
	padding: 0;
	margin: 0 auto 0 auto;
	height: 100%;
	width: 1000px;
}

#header { 
	height: 118px;
	margin: 0 0 5px 0;
	position: relative;
}

.right-nav { 
	height: 47px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 280px;
	color: rgb(207, 200, 188);
	display: block;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 11px;
	margin: 14px 0 0 10px;
}
 
.logo { 
	width: 590px;
	padding: 65px 0 0 0;
	display: inline-block;
}

.logo a{
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-shadow: 5px 5px 10px black;
}

.customermenu {
	color: white;
	width: 400px;
	text-align: right;
	float: right;
	margin: 60px 5px 2px 0px;
	display: inline-block;
}

.customermenu a { 
	display: inline-block;
	padding: 0 3px 0 3px;
	text-align: center;
	text-decoration: none;
	width: 65px;
}

.customermenu a .icon { 
	background-image: url("../images/toolbox.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	width: 32px;
}

#lnkAccount .icon{
	background-position: 0px 2px;
}

#lnkLogout .icon, #lnkLogin .icon{
	background-position: -128px 0px;
}

#lnkHelp .icon{
	background-position: -160px 0px;
}

#lnkAdmin .icon{
	background-position: -32px 0px;
}

#lnkFeedback .icon{
	background-position: -96px 0px;
}

.customermenu a .tooltip { 
	color: white;
	display: block;
	line-height: 11px;
	text-align: center;
	text-decoration: none;
}
 
.content{
	margin: 5px 0 0 0;
	padding: 5px 10px 0 10px;
	display: inline-block;
	background-color: white;
	box-shadow: 0px 0px 6px black;
	width: 715px;
}

#direction{
	margin: 6px 15px;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
	text-shadow: 1px 1px 1px black;
	color: brown;
}

#direction a{
	text-decoration: none;
	color: green;
}

#nav-menu{
	width: 100%;
	border: 0px solid #cfb696;
	border-radius: 5px;
	font-family: Arial;
	height: 40px;

background: #feffe8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmI2YTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffe8 0%, #bfb6a5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#bfb6a5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* IE10+ */
background: linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* W3C */
}
#nav-menu ul{
	list-style: none;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
#nav-menu li{
	padding: 8px 20px 0 28px;
	display: inline-block;
	border-right: 1px solid brown;
	height: 32px;
}
#nav-menu li:last-child{
	border: 0px;
}
/* #nav-menu li:hover{
	background: #bbb2a1;
	border: 0px solid #bbb2a1;
	border-radius: 2px;
	margin: 5px;
	padding: 0px;
} */
#nav-menu a{
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 5px black;	
}

.list tr, th, td{
	border: 2px solid black;
}
.list{
	width: 700px;
}
#prev{
	float: left;
}
#next{
	float: right;
}
footer{
	font-size: 10pt;
	font-style: italic;
	text-align: center;
}
#login-form label{
	display: inline-block;
	width: 150px;
	margin-bottom: 15px;
}
#login-form .submit{
	margin-left: 160px;	
}

#register-form label{
	display: inline-block;
	width: 165px;
	margin-bottom: 15px;
}
#register-form .submit{
	margin-left: 365px;	
}
table{
	width: 700px;
}
.title{
	width: 350px;
}
.avail{
	width: 150px;
}
.writer{
	width: 200px;
}
#new-user-form label, #change-info label, #feedback-form label{
	display: inline-block;
	width: 115px;
	margin: 7px;
}
#feedback-form{
	 padding: 0 0 10px 0;
}
#feedback-form-header{
	padding: 5px 0 5px 20px;
	font-weight: bold;
	font-size: 25px;
}
#feedback-form-header2{
	margin: 0 0 0 275px;
	font-size: 16px;
	font-weight: bold;
}
#feedback-form-footer{
	margin: 10px 0 0 0;
	font-weight: bold;
}
.success{
	color: green;
	font-style: italic;
}
.error{
	/*color: red;
	font-style: italic;*/
}
.developers{
	background-color: #aaaaaa; 	
	padding: 6px;
	border: 1px dashed yellow;
	margin: 0px;
}
.dev{
	background-color: #888888;
	padding-left: 10px;	
	padding-top: 2px;
	width: 80%;
}
.title{
	font-size: 16px;
	font-weight: bold;
}	

.avail{
	color: green;
	font-style: italic;
	font-weight: bold;
}	
	
.avail_no{
	color: red;
	font-style: italic;
	font-weight: bold;
}

.help p{
	margin: 20px;
	min-width: 300px;
	max-width: 650px;
	margin-bottom: 40px;
}

.sub-help{
	margin: 50px;
}

.right{
	display: inline-block;
	float: right;	
}

.center{
	text-align: center;	
}

#lends, #returns{
	width: 100px;
}

.search_chk{
	width: 100px;
	display: inline-block;	
}

#announcements{
	margin: 10px 0 0 0;
	width: 550px;
	display: inline-block;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#announcements-header{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: silver;
	border-radius: 5px;	
	margin-top: 2px 0 0 10px;
}	
	
.announce{
	background-color: silver;
	padding: 5px 6px 4px 6px; 
	border-radius: 5px;
}

.announce-head{
	font-size: 28px;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: maroon;
	border-radius: 8px;
	margin-top: 2px;
}

.announce-footer{
	font-size: 75%;
	font-weight: bold;
	font-style: italic;
	color: white;
	padding: 0;
	margin: 0;
	text-align: right;
}

#social{
	display: inline-block;
	background-image: url("../images/social.png");
	width: 45px;
	height: 18px;
	margin: 0 20px 0 0;
}

/* Right Sidebar */
#right_sidebar{
	display: inline-block;	
	vertical-align: top;
	padding: 5px 0 0 10px;
	width: 250px;
}

#right_sidebar ul{
	margin: 10px 0 0 0;
	padding: 0 0 0 20px;
	list-style-type: none;
}

#right_sidebar li{
	cursor: pointer;
	margin: 0 0 5px 0;
}
.r_info{
	background-color: white;
	margin: 0 0 10px 0;
	box-shadow: 0 0 4px black;
}

.header{
	font-size: 18px;
	font-weight: bold;
	padding: 0px 0 0 20px;
	border-bottom: 1px solid black;
	color: black;
}

.header img{
	float: right;
}

.h_text{
	 padding: 10px 0 0 0;
	 display: inline-block;
}

#researchers{
	background-color: #33cc33;
}

#libraries{
	background-color: #ffcc00;
}

#citizens{
	background-color: #20a0f5;
}

#publishers{
	background-color: #d55cd4;
}
/* --Right Sidebar-- */

.box{
	background-color: #e4e4e1;
	box-shadow: 0 0 2px black;
	margin: 15px 0;
	padding: 10px 2px;
	text-align: center;
	font-weight: bold;
}
.index-box{
	margin: 40px 0px;
	padding: 10px;
}
.block{
	display: inline-block;
}
.link{
	cursor: pointer;
}
#search_main{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: maroon;
	background-origin: padding-box;
	color: rgb(255, 255, 255);
	margin-bottom: 10px;
	text-align: center;
	padding: 7px;
	line-height: 20px;
}
#search-in{
	margin-left: 20px;
}
#search{
	font-size: 16px;
	margin: 10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #c0c0c0;
}
#search-head{
	height: 26px;
	text-align: center;
	text-shadow: #6374AB 2px -1px 2px;
	padding-top: 10px;
	font-size: 20px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #e0e0e0;
}
.search_rad input[type="radio"]:checked+div{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(43, 79, 116);
	background-origin: padding-box;
	background-repeat: repeat;
	border: 3px solid rgb(29, 54, 82);
	color: rgb(255, 255, 255);
	height: 23px;
	width: 110px;
	cursor: pointer;
	display: inline-block;
	margin-right: 4px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 16px;
}
.search_rad {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-origin: padding-box;
	background-repeat: repeat;
	border: 3px solid white;
	border-color: transparent;
	color: rgb(0, 0, 0);
	height: 23px;
	width: 110px;
	cursor: pointer;
	display: inline-block;
	margin-right: 4px;
	padding: 6px 8px 6px 8px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 16px;
}
.search-active-radio{
	background-color: rgb(43, 79, 116);
	border: 3px solid rgb(29, 54, 82);
	color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

#admin-menu li{
	display: inline-block;
	margin: 0 0 0 20px;
}