body { 
	background-color: #f4f1ec;
	background-image: url("http://www.greekbooks.gr/images/bg.jpg");
	background-position: 50% 0%;
	background-repeat: repeat-x;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#container { 
	padding: 0;
	margin: 0 auto 0 auto;
	height: 100%;
	width: 1000px;
}

#header { 
	height: 118px;
	margin: 0 0 5px 0;
	position: relative;
}

.right-nav { 
	height: 47px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 280px;
	color: rgb(207, 200, 188);
	display: block;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 11px;
	margin: 14px 0 0 10px;
}
 
.logo { 
	width: 690px;
	padding: 65px 0 0 0;
	display: inline-block;
}

.logo a{
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-shadow: 5px 5px 10px black;
}

.customermenu {
	color: white;
	width: 300px;
	text-align: right;
	float: right;
	margin: 60px 5px 2px 0px;
	display: inline-block;
}

.customermenu a { 
	display: inline-block;
	padding: 0 3px 0 3px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

.customermenu a .icon { 
	background-image: url("http://projects.codescar.eu/Library/demo/view/images/toolbox.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	width: 32px;
}

#lnkAccount .icon{
	background-position: 0px 2px;
}

#lnkLogout .icon, #lnkLogin .icon{
	background-position: -128px 0px;
}

#lnkHelp .icon{
	background-position: -160px 0px;
}

#lnkFeedback .icon{
	background-position: -96px 0px;
}

.customermenu a .tooltip { 
	color: white;
	display: block;
	line-height: 11px;
	text-align: center;
	text-decoration: none;
}
 
.content{
	margin: 5px 0 0 0;
	padding: 5px 10px 0 10px;
	display: inline-block;
	background-color: white;
	box-shadow: 0px 0px 2px black;
	min-height: 450px;
}

#direction{
	margin: 6px 15px;
	font-size: 15px;
	font-family: Arial;
}

#direction a{
	text-decoration: none;
	color: green;
}

#nav-menu{
	width: 100%;
	border: 0px solid #cfb696;
	border-radius: 5px;
	font-family: Arial;
	height: 40px;

background: #feffe8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmI2YTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #feffe8 0%, #bfb6a5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#bfb6a5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* IE10+ */
background: linear-gradient(top,  #feffe8 0%,#bfb6a5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#bfb6a5',GradientType=0 ); /* IE6-8 */

}
#nav-menu ul{
	list-style: none;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}
#nav-menu li{
	padding: 8px 28px 0 28px;
	display: inline-block;
	border-right: 1px solid brown;
	height: 32px;
}
#nav-menu li:last-child{
	border: 0px;
}
/* #nav-menu li:hover{
	background: #bbb2a1;
	border: 0px solid #bbb2a1;
	border-radius: 2px;
	margin: 5px;
	padding: 0px;
} */
#nav-menu a{
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 5px black;	
}

.list tr, th, td{
	border: 2px solid black;
}
.list{
	width: 700px;
}
#prev{
	float: left;
}
#next{
	float: right;
}
footer{
	font-size: 10pt;
	font-style: italic;
	text-align: center;
}
#login-form label{
	display: inline-block;
	width: 150px;
	margin-bottom: 15px;
}
#login-form .submit{
	margin-left: 160px;	
}

#register-form label{
	display: inline-block;
	width: 165px;
	margin-bottom: 15px;
}
#register-form .submit{
	margin-left: 365px;	
}
table{
	width: 700px;
}
.title{
	width: 350px;
}
.avail{
	width: 150px;
}
.writer{
	width: 200px;
}
#new-user-form label, #change-info label, #feedback-form label{
	display: inline-block;
	width: 100px;
	margin: 7px;
}
.success{
	color: green;
	font-style: italic;
	position: absolute;
	display: inline-block;
}
.error{
	color: red;
	font-style: italic;
}
.developers{
	background-color: #aaaaaa;
	min-width: 250px;
	max-width: 300px; 	
	padding: 6px;
	border: 1px dashed yellow;
	margin-top: 30px;
}
.dev{
	background-color: #888888;
	padding-left: 10px;	
	padding-top: 2px;
	width: 80%;
}
.title{
	font-size: 16px;
	font-weight: bold;
}	

.avail{
	color: green;
	font-style: italic;
	font-weight: bold;
}	
	
.avail_no{
	color: red;
	font-style: italic;
	font-weight: bold;
}

.help p{
	margin: 20px;
	min-width: 300px;
	max-width: 650px;
	margin-bottom: 40px;
}

.sub-help{
	margin: 50px;
}

.right{
	display: inline-block;
	float: right;	
}

.center{
	text-align: center;	
}

#lends, #returns{
	width: 100px;
}

.content{
	min-width: 700px;
	max-width: 1000px;		
}

.search_chk{
	width: 100px;
	display: inline-block;	
}

#announcements{
	
}

.announce{
	width: 400px;
	background-color: #858585;
	padding: 6px;
	padding-top: 2px;
	border: 2px solid black;
}

.announce-footer{
	font-size: 75%;
	font-style: italic;
}
#social{
	display: inline-block;
	background-image: url("http://projects.codescar.eu/Library/demo/view/images/social.png");
	width: 68px;
	height: 18px;
	margin: 0 20px 0 0;
}