body { 
	background-color: rgb(244, 241, 236);
	background-image: url("http://projects.codescar.eu/Library/demo/bg.png");
	background-position: 50% 0%;
	background-repeat: repeat-x;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#container { 
	padding: 0;
	margin: 0 auto 0 auto;
	height: 100%;
	width: 1000px;
}

#header { 
	height: 100px;
	position: relative;
}

.right-nav { 
	height: 47px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 280px;
	color: rgb(207, 200, 188);
	display: block;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 11px;
	margin: 14px 0 0 10px;
}
 
.logo { 
	position: relative;
	width: 700px;
	padding: 35px 0 0 0;
	display: inline-block;
}

.logo a{
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-shadow: 5px 5px 10px black;
}

.customermenu {
	color: rgb(255, 255, 255);
	position: absolute;
	width: 300px;
	text-align: right;
	height: 60px;
	right: 1px;
	bottom: 1px;
}

.customermenu a { 
	display: inline-block;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

.customermenu a .icon { 
	background-image: url("../images/toolbox.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 32px;
	width: 32px;
}

#lnkAccount .icon { 
	background-position: 0px 0px;
}

#lnkLogout .icon, #lnkLogin .icon { 
	background-position: -128px 0px;
}

#lnkHelp .icon { 
	background-position: -160px 0px;
}

.customermenu a .tooltip { 
	color: rgb(255, 255, 255);
	display: block;
	line-height: 11px;
	text-align: center;
	text-decoration: none;
}
 
.content{
	margin: 15px;
	padding: 8px;
}


#nav-menu{
	width: 100%;
	height: 40px;
	position: relative;
	bottom: 20px;
}
#nav-menu ul{
	list-style: none;
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}
#nav-menu li{ 
	position: relative;
	margin-right: 20px; 
	display: inline-block;
}
#nav-menu li:hover{
	background: yellow;
}
#nav-menu a{
	text-decoration: none;
}

.list tr, th, td{
	border: 2px solid black;
}
.list{
	width: 700px;
}
#prev{
	float: left;
}
#next{
	float: right;
}
footer{
	font-size: 10pt;
	font-style: italic;
	text-align: center;
}
#login-form label{
	display: inline-block;
	width: 150px;
	margin-bottom: 15px;
}
#login-form .submit{
	margin-left: 160px;	
}

#register-form label{
	display: inline-block;
	width: 165px;
	margin-bottom: 15px;
}
#register-form .submit{
	margin-left: 365px;	
}
table{
	width: 900px;
}
.title{
	width: 500px;
}
.avail{
	width: 150px;
}
.writer{
	width: 200px;
}
#new-user-form label, #change-info label, #feedback-form label{
	display: inline-block;
	width: 100px;
	margin: 7px;
}
.success{
	color: green;
	font-style: italic;
}
.error{
	color: red;
	font-style: italic;
}
.developers{
	background-color: #aaaaaa;
	min-width: 250px;
	max-width: 300px; 	
	padding: 6px;
	border: 1px dashed yellow;
	margin-top: 30px;
}
.dev{
	background-color: #888888;
	padding-left: 10px;	
	padding-top: 2px;
	width: 80%;
}
.title{
	font-size: 16px;
	font-weight: bold;
}	

.avail{
	color: green;
	font-style: italic;
	font-weight: bold;
}	
	
.avail_no{
	color: red;
	font-style: italic;
	font-weight: bold;
}

.help p{
	margin: 20px;
	min-width: 300px;
	max-width: 650px;
	margin-bottom: 40px;
}

.sub-help{
	margin: 50px;
}

.right{
	display: inline-block;
	float: right;	
}

.center{
	text-align: center;	
}

#lends, #returns{
	width: 100px;
}

.content{
	min-width: 750px;
	max-width: 1000px;		
}

.search_chk{
	width: 150px;
	display: inline-block;	
}

#announcements{
	
}

.announce{
	width: 400px;
	background-color: #858585;
	padding: 6px;
	padding-top: 2px;
	border: 2px solid black;
}

.announce-footer{
	font-size: 75%;
	font-style: italic;
}